<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/order-history.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js " rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="header-title pb-3 mt-0">Payments</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr class="align-self-center">
                                <th>Mã đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Phương thức thanh toán</th>
                                <th>Ngày trả tiền</th>
                                <th>Tiền đơn hàng</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#00131331313</td>
                                <td> Nguyễn Văn A</td>
                                <td>Paypal</td>
                                <td>5/8/2018</td>
                                <td>$15,000</td>
                                <td><span class="badge badge-boxed badge-soft-warning">panding</span></td>
                            </tr>
                            <tr>
                                <td>#00131331313</td>
                                <td>Nguyễn Văn A</td>
                                <td>Paypal</td>
                                <td>15/7/2018</td>
                                <td>$35,000</td>
                                <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                            </tr>
                            <tr>
                                <td>#00131331313</td>
                                <td>Nguyễn Văn A</td>
                                <td>Pioneer</td>
                                <td>30/9/2018</td>
                                <td>$45,000</td>
                                <td><span class="badge badge-boxed badge-soft-warning">Panding</span></td>
                            </tr>
                            <tr>
                                <td>#00131331313</td>
                                <td> Nguyễn Văn A</td>
                                <td>Paypal</td>
                                <td>2/6/2018</td>
                                <td>$70,000</td>
                                <td><span class="badge badge-boxed badge-soft-warning">Success</span></td>
                            </tr>
                            <tr>
                                <td>#00131331313</td>
                                <td>Nguyễn Văn A</td>
                                <td>Paypal</td>
                                <td>5/8/2018</td>
                                <td>$15,000</td>
                                <td><span class="badge badge-boxed badge-soft-primary">panding</span></td>
                            </tr>
                            <tr>
                                <td>#00131331313</td>
                                <td> Nguyễn Văn A</td>
                                <td>Paypal</td>
                                <td>15/7/2018</td>
                                <td>$35,000</td>
                                <td><span class="badge badge-boxed badge-soft-primary">Success</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                    <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>