<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap4"/>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/productDetail.css">
    <link href="/css/productDetail2.css">


    <title>Home page</title>
</head>
<body>

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="active"><a class="nav-link" href="/shop">Shop</a></li>
                <li><a class="nav-link" href="/about">About us</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contact">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="nav-link">
                    <div class="dropdown">
                        <img src="/images/user.svg" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><p class="dropdown-item">Hello: User</p></li>
                            <li><a class="dropdown-item" href="/login">Login/Register</a></li>
                            <li><a class="dropdown-item" href="/user-info">User Infomation</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </li>
                <!--                <li><a class="nav-link" href="/login-register"><img src="/images/user.svg"></a></li>-->
                <li><a class="nav-link" href="/cart"><img src="/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop Detail</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->


<!--<!-Đữ liệu phần thân&ndash;&gt;-->
<main class="cd__main">
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" th:src="${product.image}" alt="ProductS">
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        <span><b>Category: </b> </span>
                        <span th:text="${product.category.name}"></span>
                    </div>
                    <div class="product-title text-bold my-3">
                        <span><b>Product Name: </b></span>
                        <p th:text="${product.name}"></p>
                    </div>


                    <div class="price-area my-4">
                        <span><b>Price: </b></span>
                        <p class="new-price text-bold mb-1" th:text="${product.price}"></p>
                        <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>

                    </div>


                    <div class="buttons d-flex my-5">

                        <div class="block">
                            <button class="shadow btn custom-btn">Add to cart</button>
                        </div>

                        <div class="block quantity">
                            <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
                        </div>
                    </div>




                </div>

                <div class="product-details my-4">
                    <span class="details-title text-color mb-1"> <b>Product Details</b></span>
                    <p class="description" th:text="${product.description}"></p>
                </div>



                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days from date of purchase</b> </p>
                    <p class="text-secondary">Order now to get this product delivery</p>
                </div>
                <div class="delivery-options my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery options</b> </p>
                    <p class="text-secondary">View delivery options here</p>
                </div>


            </div>
        </div>
    </div>



    <div class="container similar-products my-4" >
        <hr>
        <p class="display-5">Similar Products</p>
        <div class="row">
            <div class="col-md-3" th:each="cate:${category}" >
                <div class="similar-product" >
                    <img class="w-100" th:src="${cate.image}" alt="Preview">
                    <div style="display: flex; justify-content: space-around; margin-top: 10px">
                        <p class="title" th:text="${cate.name}"></p>
                        <p class="price" th:text="${cate.price}"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="row" >-->
        <!--            <div class="col-md-3">-->
        <!--                <div class="similar-product" th:each="cate:${category}">-->
        <!--                    <img class="w-100" th:src="${cate.image}" alt="Preview">-->
        <!--                    <p class="title" th:text="${cate.name}"></p>-->
        <!--                    <p class="price" th:text="${cate.price}"></p>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--        </div>-->
    </div>


    <!-- END EDMO HTML (Happy Coding!)-->
</main>
<footer class="cd__credit">Author: cloudyweather1 - Distributed By: <a title="Free web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>



<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>